@model VolandoYa.Models.Vuelo

@{
    ViewData["Title"] = "Borrar Vuelo";
}

<h1>Borrar Vuelo</h1>

<h3>Está seguro que desea borrar este Vuelo?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aerolinea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aerolinea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_salida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_salida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Vuelta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Vuelta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lugares_Disponibles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lugares_Disponibles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver atrás</a>
    </form>
</div>
