@model VolandoYa.Models.Vuelo

@{
    ViewData["Title"] = "Editar vuelo";
}

<h1>Editar vuelo</h1>

<hr />

<div class="card mx-auto" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Editar vuelo</h5>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="Destino" class="control-label"></label>
                <select class="form-control" asp-for="Destino">
                    <option value="@(Model.Destino)">@Model.Destino</option>
                    @foreach (var a in ViewBag.traerDestinos)
                    {
                        @if(Model.Destino!= a.Nombre){
                            <option value="@(a.Nombre)">@(a.Nombre)</option>
                        }
                    }
                </select>
                <span asp-validation-for="Destino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aerolinea" class="control-label"></label>
                <select class="form-control" asp-for="Aerolinea">
                    <option value="@(Model.Aerolinea)">@Model.Aerolinea</option>
                    @foreach (var a in ViewBag.traerAerolineas)
                    {
                        @if(Model.Aerolinea!= a.Nombre){
                            <option value="@(a.Nombre)">@(a.Nombre)</option>
                        }
                    }
                </select>
                <span asp-validation-for="Aerolinea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_salida" class="control-label"></label>
                <input asp-for="Fecha_salida" class="form-control" />
                <span asp-validation-for="Fecha_salida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Vuelta" class="control-label"></label>
                <input asp-for="Fecha_Vuelta" class="form-control" />
                <span asp-validation-for="Fecha_Vuelta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lugares_Disponibles" class="control-label"></label>
                <input asp-for="Lugares_Disponibles" class="form-control" />
                <span asp-validation-for="Lugares_Disponibles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" id="btnEnviar" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Guardar</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a los vuelos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
